<div id="topnav" class="navbarheader fixed d-flex align-items-center w-100">
  <div class="row w-100">
    <div class="col d-flex w-100" style="">
      <div class="menu">
        <button mat-icon-button (click)="controlSideBar()" matTooltip="Menu">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="brand-name-language-container">
        <div *ngIf="sharedService.messages.length !== 0" class="d-none d-lg-block" style="display: flex; align-items: center;">
          <h1 class="title">ComprehendNow</h1>
        </div>
        <div>
          <ul class="nav justify-content-center">
            <li [routerLinkActive]="'active'"  class="nav-item">
              <a class="nav-link title nav-link-text" routerLink="/chat/home">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
              <a class="nav-link title nav-link-text" routerLink="/chat/axa">AXA</a>
            </li>
          </ul>
        </div>
        <mat-select class="language-selector" placeholder="Select language" [(ngModel)]=selectedOption
                    (ngModelChange)="onSelectionChange($event)" style="background-color: white; height: 70%">
          <mat-option *ngFor=" let language of languages"
                      [value]="language">
            {{language|titlecase}}
          </mat-option>
        </mat-select>
      </div>
    </div>
  </div>
</div>
