<div class="dashboard-main-wrapper d-flex flex-column">
    <app-top-navbar></app-top-navbar>
    <div class="main-chat-page d-flex h-100">
       <axa-docs></axa-docs>
       <div class="cards">
        <div class="card one">
          <progress-bar></progress-bar>
        </div>
        <div class="card two">
          <compute-answer></compute-answer>
        </div>
        <div class="card three">
          <axa-input></axa-input> 
        </div>
        <div class="card four">
          <questions></questions>  
        </div>
      </div>
    </div>
    </div>
    
  