.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    margin-top: 3%;

  }

  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  .dashboard-main-wrapper {
    background-color: var(--background);
  }