<div class="dashboard-main-wrapper d-flex flex-column">
    <app-top-navbar></app-top-navbar>
    <div class="main-chat-page d-flex h-100">
       <axa-docs></axa-docs>
       <div class="cards">
          <progress-bar [progress]="progress"></progress-bar>
          <compute-answer [coverage]="coverage"></compute-answer>
          <axa-input *ngIf="currentQuestionId" [currentQuestionId]="currentQuestionId" (answerEmitter)="getAnswerFromChild($event)"></axa-input> 
          <questions *ngIf="questions && questions.length" [questions]="questions" [currentQuestion]="currentQuestionId" (idEmitter)="getQuestionIdFromChild($event)"></questions>  
      </div>
    </div>
    </div>
    
  