<div class="dashboard-main-wrapper d-flex flex-column">
  <app-top-navbar></app-top-navbar>
  <!-- <recorder></recorder> -->
  <!-- <progress-bar></progress-bar> -->
  <!-- <compute-answer></compute-answer> -->
  <!-- <accordion></accordion> -->
  <!-- <questions></questions> -->
  <!-- <axa-docs></axa-docs> -->
  <!-- <axa-input></axa-input> -->
  <div class="main-chat-page d-flex h-100">
    <app-sidebar></app-sidebar>
    <main id="main" class="chat__main-page" [ngClass]="{'sidebar-collapse': !this.sideBarService.collapseSideBar}">
      <ng-content></ng-content>
    </main>
  </div>
