.sidebar-collapse {
  margin-left: 0 !important;
}

.dashboard-main-wrapper {
  height: 100vh;
}

.chat__main-page {
  width: 100%;
}

@media (max-width: 1199px){
  #main {
    /* padding: 20px; */
    position: page;
    z-index:0;
  }
}

.main-chat-page{
  overflow: hidden;
}



