<div class="accordion" id="accordionExample" >
  <div class="accordion-item item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed header" style="border-radius: 0;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        {{fileResponse.title}}
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        {{fileResponse.message}}
      </div>
    </div>
  </div>
</div>
