.header {
  background-color: var(--primaryColor);
  color: var(--textOnPrimary);
  height: 20px;
  border-radius: 0px;
}

.item {
  background-color: var(--secondaryColor);
  color: var(--textOnSecondary);
  min-height: 20px;
  border-radius: 0px;
  border: .5px solid var(--textOnSecondary);
}
