<div class="accessibility" id="accessibility">
    <span style="font-size: 17px;" class="header">Accessibilty</span>
    <div id="accessibility-list">
      <ng-container *ngFor="let disability of disabilities">
        <label class="chat-info accessibility-item btn-align" style="justify-content: space-between;">
          <div>
            <input (click)="changeTheme(disability)" class="radio"  type="radio" [(ngModel)]="selectedDisability" [value]="disability">
            <span class="btn-text">{{ disability }}</span>
          </div>
          <button class="icon-btn btn-align" (click)="textToSpeech(disability)">
            <mat-icon>volume_up</mat-icon>
          </button>
        </label>
      </ng-container>
    </div>
    <div class="toggle-container ">
      <!-- <span style="margin-left: -25px;">Dark Mode</span> -->
      <span class="title">Dark Mode</span>
      <label class="switch">
        <input type="checkbox" (change)="toggleDarkMode($event)">
        <span class="slider"></span>
      </label>
    </div>

  </div>
