.card-theme{
  background-color: var(--secondaryColor);
  color: var(--textOnSecondary);
  /* height:100%; */
  margin-bottom: -20%;
}

.card-body-theme{
  background-color: var(--tertiaryColor); 
  align-items: center;
  display: flex; 
  flex-direction: row; 
  color: var(--textOnPrimary);
  cursor: pointer;
}

.card-body-theme:hover {
  filter: brightness(140%);
}

.disable {
  opacity: 10%;
}

.card-title{
  font-weight: 500;
  font-size:medium;
}

.elevate {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.question-text {
  font-weight: 700;
  font-size: 20pt;
}

.submit-btn {
  cursor: pointer;
  font-size: 18pt;
  background-color: var(--primaryColor);
  color: var(--textOnPrimary);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  
  box-sizing: border-box;
  border: none;
}
.submit-btn:hover{
  background-color: var(--tertiaryColor);
  color: var(--textOnSecondary);
}

.possible-answers {
  max-height: 300px;
  overflow-y: auto;
}

.button-theming{
  background-color: var(--tertiaryColor);
  color: var(--textOnSecondary);
}

.button-theming:hover {
  background-color: var(--primaryColor);
}