<aside class=" sidebar {{currentTheme}}"
       [class.open]="sidebarService.collapseSideBar" [hidden]="!sidebarService.collapseSideBar">
  <div id="accessibility">
    <span style="font-size: 17px;">Accessibilty</span>
    <ul id="accessibility-list">
      <li>
        <mat-checkbox (change)="setTheme('colorBlind')" id= "colorBlind" class="example-margin">Color blind</mat-checkbox>
      </li>
      <li>
        <mat-checkbox (change)="setTheme('Dyslexia')" id= "Dyslexia" class="example-margin">Dyslexia</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="example-margin" (change)="setTheme('DarkMode')">Dark mode</mat-checkbox>
      </li>
    </ul>
  </div>

  <div id="features">
    <span style="font-size: 17px;">Features</span>
    <ul id="feature-list">
      <li>
        <mat-checkbox class="example-margin">Text to speech</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="example-margin">Language</mat-checkbox>
      </li>
      <li>
        <mat-checkbox class="example-margin">Bla bla</mat-checkbox>
      </li>
    </ul>
  </div>

  <div id="uploaded-docs">
    <span style="font-size: 17px;">Uploaded docs</span>
    <ul id="docs-list">
      <li>
        <div style="font-size: 15px; margin-top: 10px">Motor Insurance.pdf</div>
      </li>
      <li>
        <div style="font-size: 15px; margin-top: 10px">Fire Insurance.pdf</div>
      </li>
    </ul>
  </div>
</aside>

