#accessibility-list, #feature-list, #docs-list {
  list-style-type: none;
  color: black;
}

.example-margin {
  margin: 3px 10px;
}

.sidebar {
  height: 90.8vh;
  background-color: #fff;
  color: black;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  padding-left: 15px;
  padding-top: 15px;
  /*position: fixed;*/
}
