#accessibility-list, #feature-list, #docs-list {
  list-style-type: none;
  color: black;
}

.example-margin {
  margin: 3px 10px;
}

.sidebar {
  height: 100%;
  color: black;
  box-shadow: 0 0 20px rgba(1, 41, 112, 0.1);
  padding-left: 15px;
  padding-top: 15px;
  width: 250px;
}

.chat {
  width: 200px;
  border: none;
  color: #4f5050
}

.chat-button {
  width: 200px;
  color: #4f5050;
  border: 1px solid #ced4da;
}

.chat-icon {
  font-size: 15px;
  padding-top: 9.9px;
}

.chat-label {
  font-size: 15px;
  margin-top: 10px;
}

.chats {
  /*background-color: black;*/
  /*height: 50%;*/
  /*overflow: auto;*/
}

.accessibility {
  /*position: absolute;*/
  /*bottom: 0;*/
  margin-top: 10px;
  /*background-color: red*/
}
