<!-- <aside class=" sidebar " style="position: relative"
       [class.open]="sidebarService.collapseSideBar" [hidden]="!sidebarService.collapseSideBar">
  <div class="chats">
    <div class="">
      <button type="submit" class="chat-button btn btn-outline-light m-lg-2">New Chat</button>
    </div>
    <div id="chat-list">
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
      <button class="chat btn btn-outline-light">
        <div class="chat-label">
          <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat name</div>
      </button>
    </div>
  </div>

  <div class="accessibility" id="accessibility">
    <span style="font-size: 17px;">Accessibilty</span>
    <div id="accessibility-list">
      <ng-container *ngFor="let disability of disabilities">
        <label class="accessibility-item">
          <input type="radio" [(ngModel)]="selectedDisability" [value]="disability">
          {{ disability }}
        </label>
      </ng-container>
    </div>
    <div class="toggle-container">
      <span>Dark Mode</span>
      <label class="switch">
        <input type="checkbox" (change)="toggleDarkMode($event)">
        <span class="slider"></span>
      </label>
    </div>
  </div>

</aside>
 -->


 
 <style>
  .side-panel {
  background-color: #fff;
  width: 300px;
  height: 100%;
  top: 0;
  left: -300px;
  z-index: 999;
  transition: left 0.3s ease-in-out;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.side-panel.show {
  left: 0;
}

.header {
  background-color: #435f7a;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  font-size: 20px;
  margin: 0;
}

.new-chat-btn {
  background-color: #1CB0F6;
  color: white;
  border: none;
  padding: 3px 7px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  
}

.new-chat-btn:hover {
  background-color: #a3c7e3;
}

.chat-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: calc(100% - 510px);
  overflow-y: scroll;
}

.chat-list li {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.chat-list li.active {
  background-color: #f2f2f2;
}

.chat-list li:hover {
  background-color: #8491a6;
}

.chat-info h4 {
  font-size: 14px;
  margin: 0;
}
 </style>



 <div [class.open]="sidebarService.collapseSideBar" [hidden]="!sidebarService.collapseSideBar" class="side-panel">
  <div class="header">
    <h2>Chats</h2>
    <button class="new-chat-btn"> <mat-icon> add_comment</mat-icon>
      New Chat</button>
      
  </div>
  <ul class="chat-list">
    <li class="active">
      <div class="chat-info">
        <h4> <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat 1 on Motor</h4>
      </div>
    </li>
    <li>
      <div class="chat-info">
        <h4> <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat 2 on Land</h4>
      </div>
    </li>
    <li>
      <div class="chat-info">
        <h4> <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat 3 on car</h4>
      </div>
    </li>
    <li>
      <div class="chat-info">
        <h4> <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat 4 on insurance</h4>
      </div>
    </li>
    <li>
      <div class="chat-info">
        <h4> <mat-icon class="chat-icon" >chat_bubble_outline</mat-icon> Chat 5 on insurance</h4>
      </div>
    </li>
  </ul>
  <div class="accessibility" id="accessibility">
    <span style="font-size: 17px;" class="header">Accessibilty</span>
    <div id="accessibility-list">
      <ng-container *ngFor="let disability of disabilities">
        <label class="chat-info accessibility-item">
          <input type="radio" [(ngModel)]="selectedDisability" [value]="disability">
          {{ disability }}
        </label>
      </ng-container>
    </div>
    <div class="header toggle-container">
      <span>Dark Mode</span>
      <label class="switch">
        <input type="checkbox" (change)="toggleDarkMode($event)">
        <span class="slider"></span>
      </label>
    </div>
  </div>
  
</div>
