/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--background); }

  /* .form{
    color: var(--textOnPrimary);
    background-color: var(--primaryColor);
    padding:10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 2px;
    margin-bottom: 3px;
    }

  .message{
    background-color: var(--background);
  }

  .navbars{
    background-color: var(--primaryColor);
    color: var(--textOnPrimary);
  }

  .sidebartheme{
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  ul {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 3%;
    margin: 5%;
  } */
