/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap-icons/font/bootstrap-icons';
@import "~@ng-select/ng-select/themes/default.theme.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.colorBlind{
    background-color: rgb(90, 160, 137);
  }
  
  .Dyslexia{
    background-color:rgb(70, 46, 92);
  }

  .DarkMode{
    background-color:rgb(42, 65, 33);
    color: white;
  }

  