.card-theme{
  background-color: var(--secondaryColor);
  color: var(--textOnSecondary);
}

.card-body-theme{
  background-color: var(--secondaryColor); 
  display: flex; 
  flex-direction: row; 
  color: var(--textOnSecondary);
  cursor: help;
}

.body-content{
  max-height: 300px;
  overflow-y: auto;
}

.card-body-theme:hover {
  filter: brightness(140%);
}

.disable {
  background-color: var(--tertiaryColor); 
  opacity: 50%;
}