<div class="card card-theme flex-column" style="height:max-content;">
  <h2 class="card-header card-title">AXA Questions</h2>
  <div class="body-content" style="height: 500px;">
    <div *ngFor="let question of questions; let i = index" >
      <div [id]="question.id" (click)="passQuestionID(question.id)" class="card-body card-body-theme disable" [class.disable]="question.id!=currentQuestion">
        <div>
          <mat-icon>question_answer</mat-icon>
        </div>
        <p class="card-text" style="margin-left: 20px;">
          {{question.question}}</p>
      </div>
  </div>
</div>