.file-input {
  display: none;
}

.landing-parent {
  width: 100%;
  height: 100%;
  background-color: var(--tertiaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-title {
  color: var(--textOnPrimary);
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 100px;
  text-align: center;
}

.process-parent {
  width: 100%;
  /*height: 100%;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing {
  width: 100%;
  height: 50%;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step-text {
  color: var(--textOnPrimary);
  font-size: 20px;
  margin-top: 20px;
}

.btn-align {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.new-chat-btn {
  background-color: var(--tertiaryColor);
  color: var(--textOnPrimary);
  border: none;
  width: 30%;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.landing-content-wrapper {
  margin-top: -70px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

#img1 {
  width: 200px;
  height: 190px;
}

#img2 {
  width: 320px;
  height: 200px;
}

#img3 {
  width: 200px;
  height: 195px;
}

@media screen and (max-width: 1366px) {
  .landing-content-wrapper {
    /* background-color: red; */
    width: 80%;
  }

  .landing-title {
    color: var(--textOnPrimary);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
  }

  #img1 {
    width: 150px;
    height: 145px;
    margin-top: 42px;
  }

  #img2 {
    width: 270px;
    height: 165px;
  }

  #img3 {
    width: 150px;
    height: 145px;
    margin-top: 35px;
  }

}

@media screen and (max-width: 480px) {
  .landing-content-wrapper {
    /* background-color: red; */
    width: 80%;
  }

  .landing-title {
    color: var(--textOnPrimary);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 15px;
    text-align: center;
  }

  #img1 {
    width: 150px;
    height: 145px;
    margin-top: 42px;
    display: none;
  }

  #img2 {
    width: 270px;
    height: 165px;
  }

  #img3 {
    width: 150px;
    height: 145px;
    margin-top: 35px;
    display: none;
  }

  #nexts {
    display: none;
  }

  .step-text {
    display: none;
  }

  .btn-holder {
    width: 70%;
  }

  .new-chat-btn {
    width: 100%;
  }

  .btn-align {
    width: 100%;
  }
}


.btn-holder {
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: center;
  margin-top: 70px;
}

#user-chat-submit-button {
  color: var(--tertiaryColor);
  font-size: 19px;
  padding: 4px;
  height: 25px;
  width: 27px;
  margin-top: 5px;
}

.file-icon {
  margin-top: 5px;
  color: var(--tertiaryColor);
}

.messages {
  height: 100%;
  overflow: scroll;
}

.list-item {
  margin-left: -50px;
  margin-right: 15px;
}

.message {
  display: flow-root;
  width: 100%;
}

.client {
  border: 0.5px solid #333;
  background: var(--primaryColor);
  color: var(--textOnPrimary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  /*display: inline-block;*/
  /*background-color: red;*/
  max-width: 60%;
}

.user {
  border: 0.5px solid #333;
  background-color: var(--secondaryColor);
  color: var(--textOnSecondary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: inline-block;
  max-width: 80%;
  float: right;
  word-wrap: break-word;
  text-align: left;
}


#category, #language {
  height: 36px;
  border-bottom: none;
  border-top: none;
  border-color: var(--tertiaryColor);
}

#chat {
  position: relative;
}

#chat-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid var(--tertiaryColor);;
  height: 38px;
}

.chat-box {
  overflow: scroll;
}

#chat {
  width: 100%;
  height: 100%;
  /* background: #E6EAEA; */
}

#chat .content {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#chat .content .contact-profile {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #f5f5f5;
}

#chat .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}

#chat .content .contact-profile p {
  float: left;
}

#chat .content .contact-profile .social-media {
  float: right;
}

#chat .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}

#chat .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}

#chat .content .contact-profile .social-media i:hover {
  color: var(--tertiaryColor);
}

#chat .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media screen and (max-width: 735px) {
  #chat .content .messages {
    max-height: calc(100% - 105px);
  }
}

#chat .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

#chat .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#chat .content .messages ul li {
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  font-size: 0.9em;
}

#chat .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}

#chat .content .messages ul li.client img {
  margin: 6px 8px 0 0;
}

#chat .content .messages ul li.client p {
  background: var(--primaryColor);
  color: var(--textOnPrimary);
}

#chat .content .messages ul li.user img {
  float: right;
  margin: 6px 0 0 8px;
}

#chat .content .messages ul li.user p {
  background: var(--textOnPrimary);
  float: right;
}

#chat .content .messages ul li img {
  width: 20px;
  float: left;
}

#chat .content .messages ul li p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 45%;
  line-height: 130%;
}

@media screen and (max-width: 735px) {
  #chat .content .messages ul li p {
    max-width: 300px;
  }
}

#chat .content .message-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 99;
}

#chat .content .message-input .wrap {
  position: relative;
}

#chat .content .message-input .wrap input {
  font-family: "proxima-nova", "Source Sans Pro", sans-serif;
  float: left;
  border: none;
  width: calc(100% - 90px);
  padding: 11px 32px 10px 8px;
  font-size: 0.8em;
  color: #32465a;
}

@media screen and (max-width: 735px) {
  #chat .content .message-input .wrap input {
    padding: 15px 32px 16px 8px;
  }
}

#chat .content .message-input .wrap input:focus {
  outline: none;
}

#chat .content .message-input .wrap .attachment {
  position: absolute;
  right: 60px;
  z-index: 4;
  margin-top: 10px;
  font-size: 1.1em;
  color: var(--tertiaryColor);
  opacity: .5;
  cursor: pointer;
}

@media screen and (max-width: 735px) {
  #chat .content .message-input .wrap .attachment {
    margin-top: 17px;
    right: 65px;
  }
}

#chat .content .message-input .wrap .attachment:hover {
  opacity: 1;
}

#chat .content .message-input .wrap button {
  float: right;
  border: none;
  width: 50px;
  padding: 12px 0;
  cursor: pointer;
  background: var(--tertiaryColor);
  color: var(--textOnPrimary);
}

@media screen and (max-width: 735px) {
  #chat .content .message-input .wrap button {
    padding: 16px 0;
  }
}

#chat .content .message-input .wrap button:hover {
  background: var(--tertiaryColor);
}

#chat .content .message-input .wrap button:focus {
  outline: none;
}

#divstyle, #bot {
  background-color: var(--textOnPrimary);
  padding: 0%;
  border: none;
}

.send-message {
  padding: 15px;
  background: var(--primaryColor);
  height: auto;
  position: fixed;
}

.send-message textarea:focus {
  box-shadow: none;
  outline: none;
  border-color: var(--primaryColor);
}

.send-message ul li {
  display: -webkit-inline-box;
  padding-left: 15px;
}

.send-message ul li i {
  color: var(--primaryColor);
}

.send-message ul li a {
  color: var(--primaryColor);
}

.send-message ul {
  position: absolute;
  right: 45px;
  top: 23px;
  border-left: 1px solid #9c9a9a;
}

.send-message .form-control {
  border-radius: 50px;
}

@media only screen and (max-width: 800px) {

  .message-box {
    display: none;
    position: fixed;
    top: -100%;
  }

}

.user-chat-submit-button{
  border-radius: 50%;
  color: white;
  font-size: 19px;
  width: 38px;
  height: 38px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: var(--tertiaryColor);
  font-weight: bold;
  /*color: var(--textOnPrimary);*/
  transition: background-color 0.3s ease-in-out;
}

.speaker {
  width: 2rem;
  height: 2rem;
  color: var(--iconColor);
}

.icon-btn {
  background-color: var(--primaryColor);
  color: var(--textOnPrimary);
  border: none;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  appearance: none;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn-align {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
