<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<app-main-layout>
  <div id="chat" class="h-100">
    <section class="section h-100 content">
      <div class="chat-box p-3 h-100 messages">
        <ul>
        <li *ngFor="let message of messages" class="message">
          <div id = "divstyle" [class]="message.type"><img src="https://static.thenounproject.com/png/363640-200.png" alt="" /></div>
          <p [class]="message.type">
            {{ message.message }}
          </p>
        </li>
        <li
          *ngIf="loading"
          class="message"
          style="width: 100%; display: block"
        >
          <p [class]="'client'">...</p>
      </li>
      </ul>
      </div>
    
      <div class="message-input send-message">
			  <form [formGroup]="chatForm" class="d-flex justify-content-between">
			      <input type="text" class="form-control" formControlName="message" id="user-chat-input" placeholder="Type your message here ..."/>
			    <ul class="list-inline"> 
				 <li>
				  <a matTooltip="Upload file"  (click)="openUploadFileDialog()">  <i class="fas fa-paperclip"></i> </a> 
				   
				  </li>	  
				  <li> <i (click)="sendMessage()" disabled="!chatForm.valid" class="fas fa-paper-plane"></i> </li>
				</ul>
			  </form>
			</div>
    </section>
  </div>
</app-main-layout>
