name: FastAPI CI

on:
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ['3.10']
    defaults:
      run:
        working-directory: ./hackproject/code/api/

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install black==23.3.0
        chmod +x ./setup.sh
        ./setup.sh
      timeout-minutes: 5
    - name: Run Tests with Pytest
      run: |
        chmod +x ./run_tests.sh
        ./run_tests.sh